<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<p>This is the cars page</p>

<table th:align="left", th:border="1">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
    </tr>
    <th:block th:each="car : ${cars}">
        <tr>
            <td th:text="${car.brand}">...</td>
            <td th:text="${car.model}">...</td>
            <td th:text="${car.year}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>